__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis


.tox/
.venv/
venv/
dist/
build/
*.egg-info
.coverage
.github/
coverage.xml

.DS_Store
controllers/
datadir/
entrypoint.sh
