{% extends 'base.html' %}

{% block title %}Green Billing Team | Gan Shmuel{% endblock %}

{% block main %}
<div class="pagetitle">
  <h1>Providers</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Providers</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">

        <div id="form-container" data-method-type="method-type" style="display: none;" class="col-lg-12">
            <div class="col-lg-6" style="float: right;">

            <!--Begin Error-->
            <div id="error-container" style="display: none;" class="alert alert-danger alert-dismissible fade show" role="alert">
                <p id="error-content">Error message!</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <!--End Error-->


            <div class="card">
              <div class="card-body">
                <h5 id="card-form-title" class="card-title">Add New Provider</h5>
  
                <!-- No Labels Form -->
                <form id="form" class="row g-3">
                  <div class="col-md-12">
                    <input type="text"  required id="provider-name"  name="provider_name" class="form-control" placeholder="Provider Name">
                  </div>
                  <div class="text-center">
                    <button id="btn-cance-form" type="reset" class="btn btn-defaults">Cancel</button>
                    <button id="btn-save-data" type="submit" class="btn btn-primary">Save</button>
                  </div>
                </form><!-- End No Labels Form -->
  
              </div>
            </div>
            
          </div>

        </div>
  
  

      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <a type="button" id="btn-add-new" style="margin-top: 10px;  margin-bottom:10px; float:right" class="btn btn-primary">Add New</a>

            <!-- Table with stripped rows -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col" style="width: 10px;">Action</th>
                </tr>
              </thead>
              <tbody id="table-body">

              </tbody>
            </table>


            <!-- End Table with stripped rows -->
              <!-- Center aligned spinner -->
              <div class="d-flex justify-content-center">
                <div id="table-spinner" style="display: block;" class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            <!-- End Center aligned spinner -->



          </div>
        </div>


      </div>
    </div>
  </section>



{% endblock %}

{% block js %}

<script>

document.addEventListener("DOMContentLoaded", function(event){

    const formContainerEl = document.querySelector("#form-container");
    const providerNameEl = document.querySelector("#provider-name");
    const cardFormTitleEl = document.querySelector("#card-form-title");
    const formEl = document.querySelector("#form");


    // Display form
    document.getElementById("btn-add-new").onclick = function(event){
        formContainerEl.style.display = "block";
        cardFormTitleEl.textContent = "Add New Provider";
        providerNameEl.textContent = "";
        formEl.setAttribute("data-method-type", "POST");
        formEl.setAttribute("data-endpoint", "/provider");
    }

    // Cancel or hide form
    document.getElementById("btn-cance-form").onclick = function(event){
        formContainerEl.style.display = "none";
    }

    formEl.onsubmit = saveDataToDatabase;

    
    loadTable();


})

const saveDataToDatabase = (event) =>{
    event.preventDefault();

    const formEl = document.querySelector("#form");
    const errorContainerEl = document.querySelector("#error-container");
    const errorContentEl = document.querySelector("#error-content");
    const methodType = formEl.getAttribute("data-method-type");// POST or PUT
    const endpoint = formEl.getAttribute("data-endpoint");
    const providerName = document.querySelector("#provider-name").value;
    const btnSaveData = document.querySelector("#btn-save-data");


    // reset error 
    errorContainerEl.style.display = "none";
    errorContentEl.textContent = "";


    // Activate loading
    const loading = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> saving...';
    btnSaveData.innerHTML = loading;
    btnSaveData.disabled = true;

    fetch(endpoint, {
        method:methodType,
        body: JSON.stringify({name: providerName}),
        headers: {"Content-Type": "application/json"}
    }).then(function(response){
        if (response.status === 201 || response.status === 200){
            // Reload the current page
            // to reflect new changes
            window.location.href = "/provider-list";

        }else{


            // set error 
            errorContainerEl.style.display = "block";
            errorContentEl.textContent = "Something went wrong, whilst saving the data!";

            // deactivate loading
            btnSaveData.innerHTML = "Save";
            btnSaveData.disabled = false;

        }

    }).catch(function(err){

        // set error 
        errorContainerEl.style.display = "block";
        errorContentEl.textContent = "Something went wrong, check your network!";

        // deactivate loading
        btnSaveData.innerHTML = "Save";
        btnSaveData.disabled = false;

    })
    

}


const loadTable = () => {
   
    const tableSpinnerEl = document.getElementById("table-spinner");
    const tableBodyEl = document.getElementById("table-body");

    fetch("/provider", {
        method: "GET",
        headers: {"Content-Type": "application/json"}
    }).then(function(response){
        if (response.status === 200){
            return response.json();
        }else{
            tableSpinnerEl.style.display = "none";
        }

    }).then(function(jsonData){

    
        let content = "";
        let index = 0;
        for (let provider of jsonData){
            index += 1;
            content += tableContent(index, provider);
        }

        tableSpinnerEl.style.display = "none";
        tableBodyEl.innerHTML = content;
        listenToEditBtn();
        

    }).catch(function(err){
        tableSpinnerEl.style.display = "none";

    })


    

}

const tableContent = (index, provider) => {
    return `
            <tr>
                  <th scope="row">${index}</th>
                  <td>${provider.id}</td>
                  <td>${provider.name}</td>
                  <td style="width: 10px;">

                    <div class="btn-group" role="group" aria-label="action">
                        <button type="button" data-id="${provider.id}" data-name="${provider.name}" class="btn btn-primary  edit-data">edit</button>
                    </div>

                  </td>
            </tr>    
            `
}


const listenToEditBtn = () => {
    const editEls = document.querySelectorAll(".edit-data");
    editEls.forEach(function(element){
        element.onclick = function(event){
            const id = this.getAttribute("data-id")

            // load provider for update
            fetch(`/provider/${id}`,{
                method:"GET",
                headers: {"Content-Type": "application/jsons"}
            }).then(function(response){
                if (response.status === 200){
                    return response.json();
                }
            }).then(function(jsonData){

                const formContainerEl = document.querySelector("#form-container");
                const providerNameEl = document.querySelector("#provider-name");
                const cardFormTitleEl = document.querySelector("#card-form-title");
                const formEl = document.querySelector("#form");
                document.querySelector("#provider-name").value = jsonData.name;

                formContainerEl.style.display = "block";
                cardFormTitleEl.textContent = "Update Provider";
                providerNameEl.textContent = "";
                formEl.setAttribute("data-method-type", "PUT");
                formEl.setAttribute("data-endpoint", `/provider/${id}`);

            })

        }
    })

}





</script>


{% endblock %}